@import 'utils';
@import '~bootstrap/scss/bootstrap';
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

html {
  color: $light;
}

body {
  font-family: "微軟正黑體", -apple-system, 'Roboto';
  min-height: 100%;
  line-height: rhythm(3);
}
