@import 'utils';
@import '~bootstrap/scss/bootstrap';
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

html {
  font-size: 16px;
  color: $dark;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

body {
  font-family: '微軟正黑體', -apple-system, 'Roboto';
  min-height: 100%;
  line-height: rhythm(3);
  @include media-breakpoint-up(md) {
    line-height: rhythm(4);
  }
}
