@import '../../assets/style/utils';
.credit {
  /* 左側 */
  label {
    padding: 5px 10px;
    background: $teal;
    border-radius: 50px;
    line-height: 1rem;
    font-size: 1rem;
    color: $light;
    font-weight: bold;
  }
  .input-data {
    box-shadow: 0px 3px 10px rgba($black, 0.3);
  }
  /* 右側 */
  .show-data .form-group {
    padding-left: 40px;
  }
  .thead-teal {
    background: $teal;
    color: $white
  }
  tbody tr {
    &:hover {
      background: $gray-200;
    }
  }
}
