<div class="index">
  <header>
  <!-- <header class="d-none d-md-block"> -->
    <div class="container">
      <div class="logo text-center text-md-left">
        <img src="../../../static/images/logo.png"
             alt="">
      </div>
      <!-- pc 版 -->
      <div class="header-block d-none d-md-block">
        <div class="header-title">
          <img src="../../../static/images/header-title.png"
               alt="">
        </div>
        <div style="position: relative;z-index: 20 !important;">
          <h1 class="text-primary font-weight-bold">營養醫學與癌症整合性治療的<br />最新應用及前瞻性</h1>
          <div class="bottom-text">營養醫學與癌症整合性治療的<br />最新應用及前瞻性</div>
        </div>
        <div class="header-subtitle">The latest nutraceutical application and prospects in<br />integrative cancer
          treatment and prevention.</div>
      </div>
      <div class="header-date d-none d-md-block">
        11/11
      </div>
      <!-- phome 版 -->
      <div class="header-ph-block d-block d-md-none">
        <div class="header-title text-center">
          <img src="../../../static/images/header-title-ph.png"
               alt="">
        </div>
        <div class="h1-bg">
          <h1 class="text-white text-center font-weight-bold">營養醫學與癌症<br />整合性治療的<br />最新應用及前瞻性</h1>
        </div>
        <div class="icon">▼</div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <!-- 活動介紹 -->
      <div class="section section-introduction">
        <h2>活動介紹</h2>
        <div class="introduction-content">
          <p>現今癌症治療方式新穎多元，臨床證據也建議癌症病患需要營養介入以輔助治療的成效，醫事人員越來越注重營養領域，近年來與日俱增的科學及臨床證據顯示，營養醫學（Nutracetical）在腫瘤輔助治療上有驚人成效，這將成為癌症治療上不可或缺的重要一環。</p>
          <p>本次研討會將發表營養素介入疾病治療的重大突破邀請海內外專家及臨床醫師，用科學臨床試驗數據俯瞰「營養醫學與癌症整合性治療」所發揮的成效與前瞻性。相信這將會是癌症治療結合營養領域向前跨進的一大步，也期待這一場研討會帶給所有醫事人員多一分專業領域，給出更合適癌症病患的營養建議，提高癌症病患其醫療照護及生活品質。</p>
        </div>
      </div>

      <!-- 活動時間 -->
      <div class="section">
        <h2>活動時間</h2>
        <p>2018/11/11 8:20~17:50</p>
      </div>

      <!-- 活動地點 -->
      <div class="section">
        <h2>活動地點</h2>
        <div class="map-block flex-column flex-md-row">
          <!-- <div id="map"> -->
          <GoogleMap />
          <!-- <img src="../../../static/images/Map.png"
                 alt=""> -->
          <!-- </div> -->
          <div class="map-info flex-column text-center text-md-left">
            <p>台北福華國際文教會館 2F 卓越堂<br />(台北市大安區新生南路三段 30 號)</p>
            <div class="map-btn mx-auto mx-md-0 ml-md-auto">
              <button type="button"
                      class="btn btn-light"
                      onclick="location.href='https://maps.google.com?daddr=台北福華國際文教會館 2F 卓越堂'">規劃路線</button>
              <button type="button"
                      class="btn btn-light"
                      onclick="location.href='https://goo.gl/maps/Uo5jnJohZwK2'">檢視較大的地圖</button>
            </div>
          </div>
        </div>
        <a class="map-link d-block text-center text-md-left"
           href="http://www.howard-hotels.com.tw/civil-service/destination/">福華國際文教會館 詳細交通資訊</a>
      </div>

      <!-- 報名資訊 -->
      <div class="section d-flex flex-column">
        <h2>報名資訊</h2>
        <div class="price-block flex-column flex-md-row justify-content-md-between">
          <div class="">
            <p class="price-title">協會及協辦單位會員</p>
            <p class="price-nmb">400元</p>
          </div>
          <div class="mt-3 mt-md-0">
            <p class="price-title">學生（憑學生證）</p>
            <p class="price-nmb">300元</p>
          </div>
          <div class="mt-3 mt-md-0">
            <p class="price-title">非會員</p>
            <p class="price-nmb">600元</p>
          </div>
        </div>
        <ul class="price-info">
          <li>截止日期：即日起至 107 年 <span class="text-danger">11 月 02 日</span>止。 </li>
          <li>聯絡人：郭玲君 小姐</li>
          <li>電話：( 02 ) 2546 - 8824</li>
          <li>傳真：( 02 ) 2545 - 9225</li>
          <li>報名方式：可利用傳真、<a href="mailto:info@nutraceutical.org.tw">E-MAIL</a> 或線上報名。<br />
            （報名完成後，將會與您聯絡通知活動簽到序號及繳費方式。）<br />
            ＊為響應環保，現場不提供紙杯，請自行準備水杯，謝謝。
          </li>
        </ul>
        <button type="button"
                class="btn btn-primary price-btn"
                onclick="location.href='https://nutraceutical.org.tw/online_all.php?class_id=236'">立 即 報 名
        </button>
      </div>

      <!-- 議程表 -->
      <div class="section section-schedule">
        <h2>議程表</h2>
        <div class="schedule-date"><span>11</span> NOVEMBER</div>
        <ul class="schedule">
          <li class="schedule-item"
              v-for="item in AgendaData">

            <div class="schedule-item-time">
              <div>{{item.start_time}}</div>
              <div>~{{item.end_time}}</div>
            </div>
            <div class="schedule-item-decoration"></div>
            <div>
              <div>
                <h3 class="schedule-item-title-ch text-primary">{{item.title.cht_1}}</h3>
                <h4 class="schedule-item-title-eng">{{item.title.eng_1}}</h4>
                <div class="schedule-item-lector d-flex flex-column flex-md-row align-items-start"
                     v-if="item.lector.job">
                  <div class="text-primary">授課講師</div>
                  <p>{{item.lector.job}}<br />{{item.lector.name}}</p>
                </div>
                <div class="schedule-item-leader d-flex flex-column flex-md-row align-items-start"
                     v-if="item.leader.job">
                  <div class="text-primary">引言人</div>
                  <p>{{item.leader.job}}<br />{{item.leader.name}}</p>
                </div>
              </div>
            </div>

          </li>

          <!-- <li class="schedule-item">

            <div class="schedule-item-time">
              <div>09:00</div>
              <div>~09:20</div>
            </div>
            <div class="schedule-item-decoration"></div>
            <div>
              <div>
                <h3 class="schedule-item-title-ch text-primary">合併應用抗癌藥物與營養補充品在三陰性乳癌小鼠模式的治療</h3>
                <h4 class="schedule-item-title-eng">A therapeutic Synergism with Anti-cancer Agents and Nutritional
                  Supplement
                  Formulation Combination Treatment in TNBC-xenograft Mice</h4>
                <div class="schedule-item-leader">
                  <div class="text-primary">授課講師</div>
                  <p>臺北醫學大學臺北癌症中心<br />院長 彭汪嘉康 院士</p>
                </div>
                <div class="schedule-item-lector">
                  <div class="text-primary">引言人</div>
                  <p>臺北醫學大學臺北癌症中心<br />院長 彭汪嘉康 院士</p>
                </div>
              </div>
            </div>

          </li> -->
        </ul>
      </div>

      <!-- 學分數 -->
      <div class="section section-credit">
        <h2>學分數</h2>
        <div class="form-group">
          <label for="theme">請選擇身分</label>
          <select class="form-control"
                  id="exampleFormControlSelect1"
                  v-model="selectClass">
            <option value="">--- 請選擇類別 ---</option>
            <option v-for="item in className"
                    :value="item">{{item}}</option>
          </select>
        </div>
        <table class="table mt-3">
          <thead class="bg-third text-white font-weight-bold">
            <tr>
              <th scope="col">公會學會名稱</th>
              <th scope="col"
                  class="text-center"
                  style="padding-left: 12px;">教育學分數</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,key) in CreditData"
                v-if="selectClass === '' | selectClass === item.class">
              <th scope="row">{{item.title}}</th>
              <td class="text-center font-weight-bold">{{item.credit}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">中華民國醫事檢驗師公會全國聯合會</th>
              <td class="text-center font-weight-bold">7.4</td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <!-- 主辦、協辦、贊助單位 -->
      <div class="section">
        <h2>主辦單位</h2>
        <p>台灣營養醫學推廣學會</p>
      </div>
      <div class="section">
        <h2>協辦單位</h2>
        <p>台灣營養學會、台灣癌症基金會、乳癌防治基金會、財團法人癌症希望基金會、中華民國藥師公會全國聯合會、台灣癌症熱治療學會、新健康營養諮詢中心</p>
      </div>
      <div class="section">
        <h2>贊助單位</h2>
        <p>新賀斯國際有限公司、DeWell</p>
      </div>
    </div>
  </main>
  <footer>
    <p class="text-center">
      台灣營養醫學推廣協會 版權所有 © 2018 Taiwan Nutraceutical Association. All Rights Reserved.<br />本網站最佳瀏覽建議使用Chrome 瀏覽器
    </p>
  </footer>
</div>
